
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>EATsomePlace</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/ESPBook.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>

<script type="text/javascript">

</script>


</head>
<body>

	<div class="main clearfix" id="main">

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div th:include="thymeleaf/frontPage/html/commonLayout/header_eatSomePlace.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			
			<div class="container">
						
				<form th:action="@{/esp/regist}" method="post" name="frm">
				
				  <div class="make">
			      <h2 style="text-align: ceter;" >MAKE SOME BOOK</h2>
				  </div>	
				  <div class="people">
				  
				  <div >
				  <div style="float:left;">
				    <div class="divi">
						<div class="corse">
							<div class="costext">A코스</div>
						</div>

					</div>
				    
				    <div class="divi">
						<div class="type">
							<p class="pp">인원 선택</p>
							<select name="mordPeople" class="choice_box" required>
								<option value="0">선택없음</option>
								<option value="1">1명</option>
								<option value="2">2명</option>
								<option value="4">3명</option>
								<option value="4">4명</option>
								<option value="6">5명</option>
								<option value="6">6명</option>
								<option value="8">7명</option>
								<option value="8">8명</option>
								<option value="10">9명</option>
								<option value="10">10명</option>
								
							</select>
						</div>
					</div>
					</div>
				  <div style="float:left;">
				    <div class="divi">
						<div class="corse">
							<div class="costext">B코스</div>
						</div>

					</div>
				    
				    <div class="divi">
						<div class="type">
							<p class="pp">인원 선택</p>
							<select name="mordPeople" class="choice_box" required>
								<option value="0">선택없음</option>
								<option value="1">1명</option>
								<option value="2">2명</option>
								<option value="4">3명</option>
								<option value="4">4명</option>
								<option value="6">5명</option>
								<option value="6">6명</option>
								<option value="8">7명</option>
								<option value="8">8명</option>
								<option value="10">9명</option>
								<option value="10">10명</option>
							</select>
						</div>
					</div>
					</div>
				</div>
				     <div style="float:left;">
				     <div class="divi">
						<div class="corse">
							<div class="costext">예약 날짜 선택</div>
						</div>
					</div>
					<div class="divi" style="margin-top: 15px;">
						<div class="ckIn">
							<input type="datetime-local" name="checkIn" value="" class="choice_box"
								required>
						</div>
					</div>
				   </div>
				   
				     <div class="divi">
						<div class="corse">
							<div class="costext">요구사항</div>
						</div>
					</div>
					<div class="divi" style="margin-top: 15px;">
						<textarea style="border: 2px solid #cccccc;" rows="8" cols="30"></textarea>
					</div>
				
				
				   
				     <div >
						<div class="corse">
							<div class="costext" >애견메뉴 선택</div>
						</div>

					</div>
				    
				    <div class="divi" style="margin-top:15px;" >
						<div class="type" >
							<select  name="addMenu" class="choice_box" required>
							    <option>선택없음</option>
								<option th:each="list : ${dogMenu}" th:value="${list.menuNum}" th:text="${list.menuName}"></option>
							</select>
						</div>
					</div>
					
					 <div class="divi" style="margin-top:15px;" >
						<div class="type">
							
							<select name="mordPeople" class="choice_box" required>
								<option value="0">수량선택</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="4">3</option>
								<option value="4">4</option>
								<option value="6">5</option>
								<option value="6">6</option>
								<option value="8">7</option>
								<option value="8">8</option>
							</select>
						</div>
					</div>
					 <div class="divi" style="padding-top:5px;">
					   <div class="searchBtn" >
						 <input style="height: 30px; width: 100px;" class="search" type="button" id="btn" value="추가"/>
					   </div>
					</div>
					<div id="addMenu"  style="text-align:  left"></div>
		     </div>
				
					<div class="divi" style="float: right;">
						<div class="searchBtn">
							<input type="submit" value="예약등록 및 결제" class="search">
						</div>

					</div>
				
				</form>

              
			</div>
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>

	</div>
</body>
</html>
