
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>EATsomePlace</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/ESPBook.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>

<script type="text/javascript">

</script>


</head>
<body>

	<div class="main clearfix" id="main">

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div th:include="thymeleaf/frontPage/html/commonLayout/header_eatSomePlace.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			
			<div class="container">
						
				<form th:action="@{/esp/regist2}" method="post" name="frm">
				
				  <div class="make">
			      <h2 style="text-align: ceter;" >MAKE SOME BOOK</h2>
				  </div>	
				  <div class="people">
				  
				    
				    <div id="aSel"  class="divi" style="margin-top:15px;" >
						<div class="type" >
							<p class="pp">애견메뉴 선택</p>
							<select  name="menuNum" class="choice_box" required>
							    <option value="0">선택없음</option>
								<option th:each="list : ${dogMenu}" th:value="${list.menuNum}" th:text="${list.menuName}"></option>
							</select>
						</div>
					</div>
					
					 <div id="bSel" class="divi" style="margin-top:31px;" >
						<div class="type">
							
							<select name="mordPeople" class="choice_box" required>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="4">3</option>
								<option value="4">4</option>
							</select>
						</div>
					</div>
					 <div class="divi" style="padding-top:25px;">
					   <div class="searchBtn" >
						 <input style="height: 30px; width: 100px;" class="search" type="button" id="choo" value="추가"/>
					   </div>
					</div>
					
					
					<div class="divi" style="margin-top: 15px; ">
						<div class="type">
							<p class="pp">요구사항</p>
						<textarea style="border: 2px solid #cccccc;  margin-top:15px;" rows="8" cols="30"
						 placeholder="코스 및 애견메뉴에 대한 알러지 정보나 기타 요구사항을 기재." name="menuReq"></textarea>
						 </div>
					</div>
					
		     </div>
				
					<div class="divi" style="float: right;">
						<div class="searchBtn">
							<input type="submit" value="예약등록 및 결제" class="search">
						</div>

					</div>
				
				</form>

              
			</div>
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>
		<script th:inline="javascript">
			/*<![CDATA[*/
	
			$(function(){
				var arr = /*[[${dogMenu}]]*/;
				var aSel = $("#aSel");
				var bSel = $("#bSel");
				var aHtml;
				var bHtml = `<select name="mordPeople" class="choice_box">
								<option value="0">선택없음</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>`
				
				aHtml = '<select  name="menuNum" class="choice_box">';
			  
				
				$(arr).each(function(){
					aHtml += '<option value="' + $(this)[0].menuNum + '">' + $(this)[0].menuName + '</option>';
				});
				aHtml += '</select>';
				
				$("#choo").click(function(){
					aSel.append(aHtml);
					bSel.append(bHtml);
				});
			})
			
			/*]]*/
		</script>

	</div>
</body>
</html>
