
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>EATsomePlace</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/ESPBook.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>



</head>
<body>

	<div class="main clearfix" id="main">

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div th:include="thymeleaf/frontPage/html/commonLayout/header_eatSomePlace.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			
			<div class="container">
						
				<form th:action="@{/esp/regist}" method="post" name="frm">
				
				  <div class="make">
			      <h2 style="text-align: ceter;" >MAKE SOME BOOK</h2>
				  </div>	
				  <div class="people" style="">
				  
				  <div  style="margin-left:120px; margin-top: 20px;">
				  <div style="float:left;">
				    <div class="divi" id="aSel" style="max-width:220px;">
				      <div class="type">
							<p class="pp">코스 선택</p>
						<select  name="courseNum" class="choice_box" required>
								<option th:each="list: ${lists}" th:value="${list.courseNum}" th:text="${list.courseName}"></option>
							</select>
					  </div>
					</div>
				    
				    <div class="divi" id="bSel" style="max-width:220px;">
						<div class="type">
							<p class="pp">인원 선택</p>
							<select name="mordPeople" class="choice_box" required>
								<option value="1">1명</option>
								<option value="2">2명</option>
								<option value="3">3명</option>
								<option value="4">4명</option>
							</select>
						</div>
					</div>
					   <div class="divi" style="float: left; padding-top:8px; width:120px;">
						 <div class="searchBtn" style="">
							<input id="choo" style="width:100px; height:30px; " 
							type="button" value="추가" class="search">
						 </div>
					   </div>
				</div>
				
					</div>
				
				
				    <div style="margin-right:100px; margin-left:120px; margin-top: 20px;">
				   <div id="cSel"  class="divi" style="margin-top:15px;max-width:220px;" >
						<div class="type" >
							<p class="pp">애견메뉴 선택</p>
							<select  name="menuNum" class="choice_box" required>
							    <option value="0">선택없음</option>
								<option th:each="list : ${dogMenu}" th:value="${list.menuNum}" th:text="${list.menuName}"></option>
							</select>
						</div>
					</div>
					
					 <div id="dSel" class="divi" style="margin-top:31px; max-width:220px;" >
						<div class="type">
							
							<select name="dogMenuQty" class="choice_box" required>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="4">3</option>
								<option value="4">4</option>
							</select>
						</div>
					</div>
					 <div class="divi" style="padding-top:25px; padding-left:20px">
					   <div class="searchBtn" >
						 <input style="height: 30px; width: 100px;" class="search" type="button" id="boo" value="추가"/>
					   </div>
					</div>
					
				</div>
					
					
					<div class="divi" style="margin-right:500px; margin-top:30px; margin-left:130px;" >
						<div class="ckIn">
						    <div class="type">
							<p class="pp">날짜 선택</p>
							<input type="datetime-local" name="mordDate" class="choice_box" required>
						   </div>
						</div>
					</div>
					
					<div class="divi" style="margin-top: 30px; margin-left:130px;">
						<div class="type">
							<p class="pp">요구사항</p>
						<textarea style="border: 2px solid #cccccc;  margin-top:15px;" rows="8" cols="60"
						 placeholder="코스 및 애견메뉴에 대한 알러지 정보나 기타 요구사항을 기재." name="menuReq"></textarea>
						 </div>
					</div>
				   
		     </div>
				
					<div class="divi" style="float: right; margin-bottom:40px;">
						<div class="searchBtn">
							<input type="submit" value="결제" class="search">
						</div>

					</div>
				
				</form>

              
			</div>
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
	
			$(function(){
				var arr = /*[[${lists}]]*/;
				var aSel = $("#aSel");
				var bSel = $("#bSel");
				var aHtml;
				var bHtml = `<select name="mordPeople" class="choice_box">
								<option value="0">선택없음</option>
								<option value="1">1명</option>
								<option value="2">2명</option>
								<option value="3">3명</option>
								<option value="4">4명</option>
							</select>`
				
				aHtml = '<select  name="courseNum" class="choice_box">';
			
				
				$(arr).each(function(){
					aHtml += '<option value="' + $(this)[0].courseNum + '">' + $(this)[0].courseName + '</option>';
				});
				aHtml += '</select>';
				
				$("#choo").click(function(){
					aSel.append(aHtml);
					bSel.append(bHtml);
				});
				
				var brr = /*[[${dogMenu}]]*/;
				var cSel = $("#cSel");
				var dSel = $("#dSel");
				var cHtml;
				var dHtml = `<select name="dogMenuQty" class="choice_box">
								<option value="0">선택없음</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>`
				
				cHtml = '<select  name="menuNum" class="choice_box">';
			  
				
				$(brr).each(function(){
					cHtml += '<option value="' + $(this)[0].menuNum + '">' + $(this)[0].menuName + '</option>';
				});
				cHtml += '</select>';
				
				$("#boo").click(function(){
					cSel.append(cHtml);
					dSel.append(dHtml);
				});
				
			})
			
			/*]]*/
		</script>

	</div>
</body>
</html>
