
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>EATsomePlace</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/esp_sectionStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/slideImage.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/slide.js}"></script>


</head>
<body >

	<div class="main clearfix" id="main">

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div
				th:include="thymeleaf/frontPage/html/commonLayout/header_eatSomePlace.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			<div class=bg><img width="100%" height="65%" th:src="@{/static/images/ligoh/steak2.jpg}" id="bg-img"/></div>
			<div class="container" style="width: 50%;">
				<div class="quickSet"  >
				
				 
				   <div class="quickBtn_b">
					 <span ><a th:href="@{/esp/menu}" class="quickBtn_a">메 뉴 소 개</a></span>
				   </div>
				   <div class="quickBtn_b">
					 <span ><a href="" class="quickBtn_a">빠 른 예 약</a></span>
				   </div>
				   <div class="quickBtn_b">
					 <span ><a href="" class="quickBtn_a">돌 봄 서 비 스 신 청</a></span>
				   </div>
				 
				</div>
				
				<div style="text-align:left; margin:0 ;">			
				<h2 style="text-align:left; margin:0 ;">잇썸플레이스는</h2>
				<p class="textBox"> 
				애견힐링공간 FOR`REST DOGGY의  프리미엄 레스토랑입니다. 애견이 먹는 음식도 사람이 먹는 음식과 같은 정성을 담아 제공합니다.
				본사의 상주하는 강아지들의 테스트를 통과한 맛. 주인이 먹는 음식과 같은 재료를 사용하여 식사시간에도 애견과의 유대를 느낄 수 있습니다.
				식당을 이용하는 모든 고객에게 애견 돌봄서비스를 무료로 제공하고 있습니다.
				
				</p>
				</div>	
					
				<div class="imageSet clearfix">
<div class="slideshow-container" style="overflow: hidden; width:800px; height: 581px; ">

<div class="mySlides fade" >
  <div class="numbertext">1 / 5</div>
  <img th:src="@{/static/images/ligoh/LazyDog.jpg}" style="width:800px; height: auto; ">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 5</div>
  <img th:src="@{/static/images/ligoh/dogFeed1.jpg}" style="width:100%; height: auto;">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 5</div>
  <img  th:src="@{/static/images/ligoh/dogFeed2.jpg}" style="width:100%; height: auto;">
  <div class="text"></div>
</div>
<div class="mySlides fade">
  <div class="numbertext">4 / 5</div>
  <img  th:src="@{/static/images/ligoh/dogFeed3.jpg}" style="width:100%; height: auto;">
  <div class="text"></div>
</div>
<div class="mySlides fade">
  <div class="numbertext">5 / 5</div>
  <img  th:src="@{/static/images/ligoh/dogFeed5.jpg}" style="width:100%; height: auto;">
  <div class="text"></div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
</div>			

		
					
					
				</div>

			</div>
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>

	</div>
</body>
</html>
