
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>EATsomePlace</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/esp_sectionStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/slideImage.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/slide.js}"></script>


</head>
<body >

	<div class="main clearfix" id="main">

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div
				th:include="thymeleaf/frontPage/html/commonLayout/header_eatSomePlace.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			<div class=bg><img width="100%" height="65%" th:src="@{/static/images/steak2.jpg}" id="bg-img"/></div>
			<div class="container">
				<div class="quickSet">
				
				 
				   <div class="quickBtn_b">
					 <span ><a href="" class="quickBtn_a">메 뉴 소 개</a></span>
				   </div>
				   <div class="quickBtn_b">
					 <span ><a href="" class="quickBtn_a">빠 른 예 약</a></span>
				   </div>
				   <div class="quickBtn_b">
					 <span ><a href="" class="quickBtn_a">돌 봄 서 비 스 신 청</a></span>
				   </div>
				 
				</div>
				
								
				<h2>잇썸플레이스 소개</h2>
				<p class="textBox"> 잇썸플레이스가 킹왕짱</p>
					
				<div class="imageSet clearfix">
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img th:src="@{/static/images/steak2.jpg}" style="width:100%; height: auto;">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img th:src="@{/static/images/3.jpg}" style="width:100%; height: auto;">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img  th:src="@{/static/images/9.jpg}" style="width:100%; height: auto;">
  <div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>			

		
					
					
				</div>

			</div>
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>

	</div>
</body>
</html>
