<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Evaluation Check</title>
<script type="text/javascript" 
	src="http://code.jquery.com/jquery-latest.js" ></script>
<script type="text/javascript">

function select1(a){
	location.href="menuIngr2?ingrNum="+a+"&menuNum="+[[${menuNum}]]+""
	
	
}

</script>

</head>
<body>
<form action="ingrSearch" method="post">
식재료명을 검색하세요
<input type="text" name="ingrName"/> 

<button type="submit">찾기</button>
<br/>
<input type="hidden" name="menuNum" th:value="${menuNum}" >
</form>
<form th:action="@{/espback/menu/menuIngr2}" method="post">
<table border="1" width="100%">
  <tr>
   <td>식재료명</td> <td >업체명</td>
  </tr>
   <tr th:each="list: ${lists}">
   <td style="width: 40%" th:text="${list.ingrName}"></td> 
   <td style="width: 20%" th:text="${list.ptName}"></td> 
   <td style="width: 10%" >
   <input type="button" id="serch" value="선택" 
   th:onclick="@{'select1(\'' + ${list.ingrNum} + '\')'}">
   </td>
  </tr>
  <tr>
  <input type="hidden" name="menuNum" th:value="${menuNum}" >
  </tr>
</table>
</form>

</body>
</html>