<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ingredient List</title>
<script type="text/javascript" 
	src="http://code.jquery.com/jquery-latest.js" ></script>
<script type="text/javascript">

</script>

</head>
<body>

<table border="1" width="100%">
  <tr>
   <td>식재료명</td> <td >필요수량</td>
  </tr>
   <tr th:each="list: ${lists}">
   <td style="width: 40%" th:text="${list.ingrName}"></td> 
   <td  th:text="${list.menuIngrQty}"></td>
  </tr>
</table>

</body>
</html>