<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

      <div class="headerMenu">
        <ul class="headerUl clearfix">
          <li class="headerLi select"><a th:href="@{/staypark/main}" class="select">StayPark</a>
            <div class="menu">
              <ul class="clearfix menuUl">
                <li class="menu_li"><a th:href="@{/staypark/roomReservation}" class="menu_li_a">객실예약</a></li>
                <li class="menu_li"><a th:href="@{/staypark/roomService}" class="menu_li_a">룸서비스</a></li>
                <li class="menu_li"><a th:href="@{/staypark/myReservation}" class="menu_li_a">내예약</a></li>
              </ul>
            </div></li>
          <li class="headerLi"><a href="dogVillageMain.html">DogVillage</a></li>
          <li class="headerLi"><a href="/esp/main">EatSomePlace</a></li>
          <li class="headerLi"><a href="dogMallMain.html">DogMall</a></li>
        </ul>
      </div>

  </body>
</html>
