<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forrest.mapper.MemberMapper">

<sql id="basecolumn">
	MEM_ID, MEM_NAME, MEM_PASS , MEM_ADDR , MEM_EMAIL , MEM_PH 
</sql>

<insert id="insertMember" parameterType="forrest.domain.MemberDTO">
	insert into member(<include refid="basecolumn"/>)
	values(#{memId},#{memName},#{memPass},#{memAddr},#{memEmail},#{memPh})
	
</insert>



	<resultMap type="forrest.domain.MemberDTO" id="baseMember" >
		<id column="MEM_ID" jdbcType="VARCHAR" property="memId"/>
		<result column="MEM_NAME" jdbcType="VARCHAR" property="memName"/>
		<result column="MEM_PASS" jdbcType="VARCHAR" property="memPass"/>
		<result column="MEM_ADDR" jdbcType="VARCHAR" property="memEmail"/>
		<result column="MEM_EMAIL" jdbcType="VARCHAR" property="memAddr"/>
		<result column="MEM_PH" jdbcType="VARCHAR" property="memPh"/>
	</resultMap>



<select id="selectMember" parameterType="string" resultMap="baseMember" >

	select MEM_ID, MEM_NAME, MEM_PASS , MEM_ADDR , MEM_EMAIL , MEM_PH  
	from member
	where mem_id = #{memId}
</select>

<select id="selectMemberAll" parameterType="string" resultMap="baseMember" >

	select MEM_ID, MEM_NAME, MEM_PASS , MEM_ADDR , MEM_EMAIL , MEM_PH  
	from member
</select>








</mapper>