<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 	
	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting value="false" name="cacheEnabled"/>
		<setting value="true" name="useGeneratedKeys"/>
		<setting value="true" name="mapUnderscoreToCamelCase"/>
		<setting value="PARTIAL" name="autoMappingBehavior"/>
	</settings>

</configuration>