<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forrest.mapper.ligoh.ContractMapper">
<sql id="basecolumn">
CT_NUM, PT_NUM, WORK_NUM, CT_TERM, CT_CONTENT, CT_IMAGE, CT_PT_PH, CT_PT_NAME

</sql>

  <sql id="maxNum">
    select nvl(max(CT_NUM),0) + 1
    from contract
  </sql>

<insert id="contractInsert" parameterType="forrest.domain.ligoh.ContractDTO" >

insert into contract ( <include refid="basecolumn" /> )
values((<include refid="maxNum"/>),1,22,#{ctTerm},
#{ctPtName},#{ctPtPh},#{ctContent}, #{ctImage})S

</insert>

<select id="getContractList" resultMap="baseContract">
	select <include refid="basecolumn" />
	from contract
    order by ct_num desc
		
</select>
	
<select id="getContractCount" resultType="int">
		select count(*) from contract
</select>	

<resultMap type="forrest.domain.ligoh.ContractDTO" id="baseContract">
		<id column="ct_num" jdbcType="BIGINT" property="ctNum"/>
		<id column="pt_num" jdbcType="BIGINT" property="ptNum"/>
		<result column="work_num" jdbcType="BIGINT" property="workNum"/>
		<result column="ct_term" jdbcType="VARCHAR" property="ctTerm"/>
		<result column="ct_image" jdbcType="VARCHAR" property="ctImage"/>
		<result column="ct_pt_ph" jdbcType="VARCHAR" property="ctPtPh"/>
		<result column="ct_pt_name" jdbcType="VARCHAR" property="ctPtName"/>
		<result column="ct_content" jdbcType="VARCHAR" property="ctContent"/>
	</resultMap>



</mapper>