<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/static/css/loginStyle.css}">
  </head>
  <body>

    <div class="top clearfix" id="top">
      <h1 id="logo"><a href="main.html" id="h1">FOR'REST DOGGY</a></h1>
      <div id="topMenu">
        <ul class="clearfix topUl">
          <!--로그인전-->
          <li><a href="/register/login"><span class="bar">로그인</span></a></li>
          <li><a href="/register/agree"><span class="bar">회원가입</span></a></li>
          <li><a href="#"><span class="bar_1">문의하기</span></a></li>
          <!--로그인후-->
          <!--
          <li><a href="#">로그아웃</a></li>
          <li><a href="#">내정보</a></li>
          <li><a href="#">문의내역</a></li>
          -->
        </ul>
      </div>
    </div>

    <div class="loginTitle">
      <h2 class="loginH2">로그인</h2>
    </div>

    <div class="login-area">
				<form action="loginPro" method="post" name="frm" id="frm">
					<div class="inner">
						<div class="form-group">
							<input type="text" class="input" name="memId" id="" value="" placeholder="ID" />
						</div>
						<div class="form-group">
							<input type="password" class="input" name="memPass" id="" value="" placeholder="PASSWORD" />
						</div>
						<div class="form-group">
							<input type="submit" class="submit" value="로그인"/>
						</div>
						<label for="ic1">아이디저장</label>
						<input type="checkbox" name="saveId" id="ic1" class="checkbox" value="" />
						<a href="memberAgree.html" class="login-link">회원가입</a>
					</div>
				</form>
			</div>

  </body>
</html>
