<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MemberList</title>
    <link rel="stylesheet" href="@{/static/css/memberListStyle.css}">
  </head>
  <body>
    <div class="memberList-area">
      <div class="loginTitle">
        <h2 class="loginH2">회원리스트</h2>
      </div>
      <table>

        <tr>
          <th>번호</th>
          <th>회원아이디</th>
          <th>회원이름</th>
          <th>회원연락처</th>
        </tr>
     
		<th:block th:each="dto , aaa : ${list}">
        <tr>
          <td>[[${aaa.count}]]</td>
          <td><a th:href="@{/register/memberView(memId=${dto.memId})}">[[${dto.memId}]]</a></td>
          <td>[[
          ${dto.memName}]]</td>
          <td>[[${dto.memPh}]]</td>
        </tr>
		</th:block>
        <tr>
          <td colspan="4">
            <input type="button" name="memberIn" value="회원추가" class="btn">
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
