<html xmlns:th="http://www.thymeleaf.org">

<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MemberAgree</title>
    <link rel="stylesheet" th:href="@{/static/css/memberAgreeStyle.css}">
      <link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">
     
  </head>
  <body>

    <div class="top clearfix" id="top">
     <div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>
      <div id="topMenu">
        <ul class="clearfix topUl">
          <!--로그인전-->
          <!--로그인후-->
          <!--
          <li><a href="#">로그아웃</a></li>
          <li><a href="#">내정보</a></li>
          <li><a href="#">문의내역</a></li>
          -->
        </ul>
      </div>
    </div>

    <div class="loginTitle">
      <h2 class="loginH2">동의</h2>
    </div>

    <div class="login-area">
		
					<div class="inner">
						<div class="form-group">
              <h5>회원가입 약관</h5>
							<div class="agreeContent">
             박소영♥정재준 2013년 04월16일 부터 사랑하고 계속 사랑할것을 
              </div>
						</div>


						<div class="form-group">
							<a href="regist"><input type="button" class="submit" value="동의"/></a>
						</div>

					</div>
				
			</div>

  </body>
</html>
