<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forrest.mapper.jjj.TicketMapper">

<sql id="basecolumn">
	TICKET_NUM, TICKET_NAME, TICKET_SEASON , TICKET_TIME , TICKET_GRADE , TICKET_PRICE , TICKET_REGIST , TICKET_QTY
</sql>

<insert id="insertTicket" parameterType="forrest.domain.jjj.TicketDTO">
	insert into ticket(<include refid="basecolumn"/>)
	values(Ticket_SEQ.nextval,#{ticketName},#{ticketSeason},#{ticketTime},#{ticketGrade},#{ticketPrice},sysdate,#{ticketQty})
	
</insert>


	<resultMap type="forrest.domain.jjj.TicketDTO" id="baseTicket" >
		<id column="TICKET_NUM" jdbcType="BIGINT" property="ticketNum"/>
		<result column="TICKET_NAME" jdbcType="VARCHAR" property="ticketName"/>
		<result column="TICKET_SEASON" jdbcType="TIMESTAMP" property="ticketSeason"/>
		<result column="TICKET_TIME" jdbcType="VARCHAR" property="ticketTime"/>
		<result column="TICKET_GRADE" jdbcType="VARCHAR" property="ticketGrade"/>
		<result column="TICKET_PRICE" jdbcType="BIGINT" property="ticketPrice"/>
		<result column="TICKET_REGIST" jdbcType="TIMESTAMP" property="ticketRegist"/>
		<result column="TICKET_QTY" jdbcType="BIGINT" property="ticketQty"/>
	</resultMap>


<select id="selectTicketAll" parameterType="forrest.domain.jjj.TicketDTO" resultMap="baseTicket" >

	select TICKET_NUM, TICKET_NAME, TICKET_SEASON , TICKET_TIME , TICKET_GRADE , TICKET_PRICE , TICKET_REGIST , TICKET_QTY
	from ticket
	<if test="ticketSeason != null">
		where TICKET_SEASON = #{ticketSeason} and ticket_qty &gt; 0
	</if>
	
</select>

<select id="selectTicket" resultMap="baseTicket" parameterType="forrest.domain.jjj.TicketDTO">
	select <include refid="basecolumn"/>
	from ticket
	where ticket_num = #{ticketNum}
	
</select>

<update id="updateTicket" parameterType="forrest.domain.jjj.TicketDTO">
	update ticket
	set TICKET_NAME = #{ticketName}, TICKET_Time = #{ticketTime} , TICKET_PRICE = #{ticketPrice} , TICKET_GRADE = #{ticketGrade} , TICKET_QTY = #{ticketQty}
	where ticket_num = #{ticketNum}

</update>


<delete id="deleteTicket"  parameterType="forrest.domain.jjj.TicketDTO"  >
	delete ticket
	where ticket_num = #{ticketNum}
</delete>

<update id="updateQty" parameterType="forrest.domain.jjj.TicketOrderDTO">
	update ticket
	set ticket_qty = (select ticket_qty from ticket where ticket_num=#{ticketNum})-#{tolistQty}
	where ticket_num = #{ticketNum}
</update>


</mapper>