<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/static/css/notosanskr.css}" />
<!-- Bootstrap Styles-->
<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link th:href="@{/static/css/font-awesome.css}" rel="stylesheet" />
<!-- Morris Chart Styles-->
<!--   <link th:href="@{/static/js/morris/morris-0.4.3.min.css" rel="stylesheet" />-->
<!-- Custom Styles-->
<link th:href="@{/static/css/custom-styles.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/static/css/common.css}" />
<link rel="stylesheet" th:href="@{/static/css/newSoyoungStyle.css}" />
<!-- Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

	var lists = /*[[${lists}]];*/
	
	google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart() {
      var data = [[${chartList}]];
	  var str1 = eval("("+data+")");
	  console.log(str1);
      var data = google.visualization.arrayToDataTable(str1);

      var options = {
        title: '월별 정산내역',
        curveType: 'function',
        legend: { position: 'bottom' }
      };
      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(data, options);
     
      

      
    }

/*]]>*/
</script>
</head>
<body>
<div id="wrapper">

		<!-- stp header 인클루드 영역 -->
		<div th:include="thymeleaf/backOfficePage/html/layout_department/back_dpt_header.html"></div>
		<!-- stp seideNav 인클루드 영역 -->
		<div th:include="thymeleaf/backOfficePage/html/layout_department/back_dpt_sideNav.html"></div>

		<!--페이지래퍼-->
		<div id="page-wrapper">
			<div id="page-inner">

				<!--로그인 전 메인 화면-->
				<div class="row">
					<div class="col-md-12">
						<h1 class="page-header">월별 정산 목록</h1>
					</div>
				</div>

				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body" style="padding: 100px 0;">
	<div class="row">
					<div class="panel panel-default">
						<div class="panel-body" style="padding: 100px 0;">
   </div>
   <div id="curve_chart" style="width: 900px; height: 500px">
   
   </div>
  </div>
  </div>
   	<!-- JS Scripts-->
							<!-- Bootstrap Js -->
							<script th:src="@{/static/js/bootstrap.min.js}"></script>

							<!-- Metis Menu Js -->
							<script th:src="@{/static/js/jquery.metisMenu.js}"></script>
							<!-- Morris Chart Js -->
							<script th:src="@{/static/js/morris/raphael-2.1.0.min.js}"></script>
							<script th:src="@{/static/js/morris/morris.js}"></script>


							<script th:src="@{/static/js/easypiechart.js}"></script>
							<script th:src="@{/static/js/easypiechart-data.js}"></script>

							<script th:src="@{/static/js/Lightweight-Chart/jquery.chart.js}"></script>

							<!-- Custom Js -->
							<script th:src="@{/static/js/custom-scripts.js}"></script>
</body>
</html>