
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Stay Park</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/sectionStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>

</head>
<body>

	<div class="main clearfix" id="main">

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div
				th:include="thymeleaf/frontPage/html/commonLayout/header_stayPark.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			<div class=bg><img th:src="@{/static/images/stp_bg.jpg}" id="bg-img"/></div>
			<div class="container">
				<div class="quickSet">
					<div class="quickBtn"><a href="" class="quickBtn_a">빠 른 예 약</a></div>
					<div class="quickBtn"><a href="" class="quickBtn_a">룸 서 비 스</a></div>
				</div>
				<div class="scroll-back">
					<div class="scroll-icon"><img th:src="@{/static/images/scroll.png}" id="scroll-image"/></div>
				</div>
				<h2>스테이파크 소개</h2>
				<p class="textBox">Lorem Ipsum is simply dummy text of the
					printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an
					unknown printer took a galley of type and scrambled it to make a
					type specimen book. It has survived not only five centuries, but
					also the leap into electronic typesetting, remaining essentially
					unchanged. It was popularised in the 1960s with the release of
					Letraset sheets containing Lorem Ipsum passages, and more recently
					with desktop publishing software like Aldus PageMaker including
					versions of Lorem Ipsum.</p>
					
				<div class="imageSet clearfix">
					<div class="image img1"></div>
					<div class="image img2"></div>
				</div>

			</div>
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>

	</div>
</body>
</html>
