
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Dog Viliage</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/ticketOrderList.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>
<script>
	$(document).ready(function(){
		
		var qty = 1;
		var totalPrice = 0;
		var eachTotal;
		$('input[name="eachPrice"]').each(function(idx){
			
			eachTotal = parseInt($(this).val());
			totalPrice = totalPrice+eachTotal;
			
		});
		
		// 초기 총 금액, 결제금액 등
		$('.totalPrice111').html("총 주문금액 "+totalPrice+"원");
		$('#payTotal').html(totalPrice);
		$('#payPrice').val(totalPrice);
		$('#payReal').html(totalPrice);
		$('#prePayPrice').val(totalPrice);
		$('#torderPrice').val(totalPrice);
		// 초기 포인트 사용, 포인트 적립
		$('#payPoint').html(0);
		$('#payPointIn').html(totalPrice*0.01);
		$('#pointIn').val(totalPrice*0.01);
		
		$("select[name='tolistQty']").change(function(){
			qty = $(this).val();
			var eachPrice = $(this).siblings('input[name="eachPrice"]').val();
			var eachTotal = qty*eachPrice;
			$(this).siblings('input[name="eachTotal"]').val(eachTotal);
			
			// 시도시도
			totalPrice=0;
			$('input[name="eachTotal"]').each(function(idx){
				
				eachTotal = parseInt($(this).val());
				totalPrice = totalPrice+eachTotal;
			
			});
			
			// 수량변경 총 금액, 결제금액
			$('.totalPrice111').html("총 주문금액 "+totalPrice+"원");
			$('#payTotal').html(totalPrice);
			$('#payPrice').val(totalPrice);
			$('#payReal').html(totalPrice);
			$('#prePayPrice').val(totalPrice);
			$('#torderPrice').val(totalPrice);
			// 수량변경 포인트 사용, 포인트 적립
			$('#payPoint').html(0);
			$('#payPointIn').html(totalPrice*0.01);
			$('#pointIn').val(totalPrice*0.01);
			
		});
		
		
		
		$('input[type="checkbox"][name="payWay"]').click(function(){
			if($('input[type="checkbox"][name="payWay"]').is(':checked')){			
				$('input[type="checkbox"][name="payWay"]').prop('checked',false);			
			}
			$(this).prop('checked',true);
		});
		
		$('input[type="checkbox"][name="point"]').change(function(){
			if($(this).is(':checked')){
				$('#usePoint').css('display','block');
			}else{				
				$('#pointOut').val(0);
				$('#payPoint').html(0);
				totalPrice = parseIn($('#torderPrice').val());
				$('#payPointIn').html(totalPrice*0.01);
				$('#usePoint').css('display','none');
			}
		});
		
		var payWon;
		$('#usePointBtn').click(function(){
			var usePoint = parseInt($('#pointOut').val());
			if(usePoint> parseInt($('#nowPoint').val())){
				alert("현재 사용 가능한 포인트는 "+$('#nowPoint').val()+"점 입니다.");
				$('#pointOut').val(0);
				$('#payPoint').html(0);
			}else{
				payWon = totalPrice-usePoint;
				$('#prePayPrice').val(payWon);
				$('#payPoint').html(usePoint);
				$('#payReal').html(payWon);
				$('#payPointIn').html(payWon*0.01);
				$('#pointIn').html(payWon*0.01);
				$('#payReal').html(payWon);
				$('#payPrice').val(payWon);
			}
			
		});
		
		$('#rsvBtn').click(function(){
			if ($('input[type="checkbox"][name="payWay"]').is(':checked') == false) {
				  alert('결제수단을 체크하셔야 합니다.');				  
			}else{
				var way = $("input:checkbox[name='payWay']:checked").val();
				$('.payH2').html(way+" 결제");
				$('#payPage').css('display','block');
			}
			
		});
		
		$('#cancleBtn').click(function(){
			$('#payPage').css('display','none');
		});
		
		
		
	});
</script>

</head>
<body>

	<div class="main clearfix" id="main">
	<form th:action="@{/dogVillage/ticketOrderPro}" method="post" name="frm">
	<div id="payPage">
					<div id="payBox">
						<div id="cancle"><input type="button" value="X" id="cancleBtn"/></div>
						<span id="payOk"></span>
						<h2 class="payH2"></h2>
						<table id="payTable">
							<tr><td class="paytd">총 주문금액</td><td class="paytd"><span id="payTotal"></span>
							<input type="hidden" name="torderPrice" value="" id="torderPrice"/></td></tr>
							<tr><td class="paytd">포인트사용</td><td class="paytd"><span id="payPoint"></span></td></tr>
							<tr><td class="paytd">포인트적립</td><td class="paytd"><span id="payPointIn"></span></td>
							<input type="hidden" name="pointIn" value="" id="pointIn"/>
							</tr>
							<tr><th class="th paytd payth">결제금액</th><th class="th paytd payth"><span id="payReal"></span></th>
							<input type="hidden" name="payPrice" value="" id="payPrice"/></tr>
						</table>
						<div id="submitBox">
							<input type="submit" name="submit" class="search" value="결 제 하 기">
						</div>
				</div>
				</div>

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div
				th:include="thymeleaf/frontPage/html/commonLayout/header_dogVillage.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			
			<span th:if="${session.authInfo !=null}">
				<input type="hidden" th:value="${session.authInfo.name}" name="memName" id="memName"/>
				<input type="hidden" th:value="${session.authInfo.ph}" name="memPh" id="memPh"/>
				<input type="hidden" th:value="${session.authInfo.id}" name="memId" id="memId"/>
			</span>
			<div class="container">

				<table class="roomTable">
					<tr>
						<td colspan="7">
							<h2>티켓 주문서</h2>
						</td>
					</tr>
					<tr>
						<th class="th borderleft">번호</th>
						<th class="th">티켓이름</th>
						<th class="th">티켓날짜</th>
						<th class="th">티켓시간</th>
						<th class="th">티켓가격</th>
						<th class="th">체급</th>
						<th class="th borderright">수량</th>
					</tr>
					<th:block th:each="dto , aaa : ${orderTicket}">
					<tr>
						<td class="roomTd borderleft">[[${aaa.count}]]</td>
						<td class="roomTd">[[${dto.ticketName}]]</td>
						<td class="roomTd" th:text="${#dates.format(dto.ticketSeason,'yyyy-MM-dd')}"></td>
						<td class="roomTd">[[${dto.ticketTime}]]</td>
						<td class="roomTd">[[${dto.ticketPrice}]]
							<input type="hidden" name="ticketPrice" th:value="${dto.ticketPrice}"/>
						</td>
						<td class="roomTd">[[${dto.ticketGrade}]]</td>
						<td class="roomTd borderright">
							<select name="tolistQty" class="selectbox">
									<th:block th:each="num : ${#numbers.sequence(1,dto.ticketQty)}">		 			
										<option>[[${num}]]</option>
									</th:block>						 									
							</select>
							<input type="hidden" name="eachPrice" th:value="${dto.ticketPrice}"/>
							<input type="hidden" name="tQty" value="1"/>
							<input type="hidden" name="eachTotal" th:value="${dto.ticketPrice}"/>
							<input type="hidden" name="ticketNum" th:value="${dto.ticketNum}"/>
						</td>						
					</tr>
					</th:block>

					<tr>
						<td colspan="7" class="priceTd borderleft borderright total" id="total"><span class="totalPrice111"></span></td>
					</tr>
					

				</table>
				
				<table class="roInfoTable">
					<tr>
						
						<td colsapn="2" class="roInfotd borderright">
							<h4>결제 정보</h4>
							<div class="optBox">
								<span class="font">결제수단 선택</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								카드결제 <input type="checkbox" name="payWay" value="신용카드"/>&nbsp;&nbsp;&nbsp;계좌이체 <input type="checkbox" name="payWay" value="계좌이체"/>&nbsp;&nbsp;&nbsp;포인트 <input type="checkbox" name="point" value="point" id="pointCheck"/>
								<div class="roInfo">
								총 결제금액&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="prePayPrice" class="infoinput" value="" id="prePayPrice" readonly/>원</br>
								가용 포인트&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="pointSum" th:value="${pointSum}" class="infoinput" id="nowPoint" readonly/>점
								<div id="usePoint">포인트 사용&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="pointOut" value="0" class="infoinput" id="pointOut"/>점</br>
								<button type="button" id="usePointBtn">사용</button>
								</div></div>
								
							</div>
						</td>
						
					</tr>
					
				</table>




				<div class="final_btn">

					<input type="button" class="search" value="예 매 하 기" id="rsvBtn">

				</div>
				
				



			</div>
			
			
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>
	</form>
	</div>
</body>
</html>
