
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DogViliage</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/ticketOrderList.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>
	
<script>

$(document).ready(function(){
	
	
	
	
		// 수량 체크 후 총 결제 가격 뽑기
		
		$("select[name='torderQty']").change(function(){
			qty = $(this).val();
			var tprice = $(this).siblings('input[name="tPrice1"]').val();
			var ttprice = qty*tprice;
			$(this).siblings('input[name="torderPrice"]').val(ttprice);
			
		});
		
		
		var totalPrice = 0;
		$('#qtybtn').click(function(){
			
			$('input[name="torderPrice"]').each(function(idx){
				var tPrice = parseInt($(this).val());			
				totalPrice = totalPrice + tPrice;
				
			});
			$('.totalPrice111').html("총 주문금액 "+totalPrice+"원");
			$('#prePayPrice').val(totalPrice);
			$('#payTotal').html(totalPrice);
			$('#payPoint').html(0);
			$('#payPointIn').html(totalPrice*0.01);
			$('#payReal').html(totalPrice);
			$('#payPrice').val(totalPrice);
			
		});
		
		
		// 결제수단 하나만 체크되게 하기

		$('input[type="checkbox"][name="payWay"]').click(function(){
			if($('input[type="checkbox"][name="payWay"]').is(':checked')){			
				$('input[type="checkbox"][name="payWay"]').prop('checked',false);			
			}
			$(this).prop('checked',true);
		});
		
		
		// 포인트 사용하기 위해 체크박스 체크 시 이벤트

		$('input[type="checkbox"][name="point"]').change(function(){
			if($(this).is(':checked')){
				// 사용할 포인트 입력 input창 보이게
				$('#usePoint').css('display','block');
				$('#payPointIn').html(totalPrice*0.01);
				$('#payReal').html(totalPrice);
				$('#payPrice').val(totalPrice);
			}else{
				// 체크를 해지 했을 때 결제금액에서 빠졌던 포인트 금액을 다시 더해주고 0으로 만들어서 숨기기
				var ppoint = parseInt($('#pointOut').val());
				var ttotal = ppoint+totalPrice;
				$('.totalPrice111').html("총 주문금액 "+ttotal+"원");
				$('#prePayPrice').val(ttotal);
				$('#payTotal').html(ttotal);
				$('#pointOut').val(0);
				$('#payPoint').html(0);
				$('#payPointIn').html(ttotal*0.01);
				$('#usePoint').css('display','none');
				$('#payReal').html(ttotal);
				$('#payPrice').val(ttotal);
			}
		});
		
		// 사용할 포인트 입력하고 사용 버튼 눌렀을 때 해당 포인트만큼 결제 금액 마이너스 되게 & 가용 포인트보다 크게 적었을 때
		// 얼럿 창으로 가능한 포인트 안내 후 0으로 바뀌게
		var payWon;
		$('#usePointBtn').click(function(){
			var usePoint = parseInt($('#pointOut').val());
			if(usePoint> parseInt($('#nowPoint').val())){
				alert("현재 사용 가능한 포인트는 "+$('#nowPoint').val()+"점 입니다.");
				$('#pointOut').val(0);
				$('#payPoint').html(0);
			}else{
				payWon = totalPrice-usePoint;
				$('#prePayPrice').val(payWon);
				$('#payPoint').html(usePoint);
				$('#payReal').html(payWon);
				$('#payPointIn').html(payWon*0.01);
				$('#payReal').html(payWon);
				$('#payPrice').val(payWon);
				
			}			
			
		});


        
		$('#rsvBtn').click(function(){
			if ($('input[type="checkbox"][name="payWay"]').is(':checked') == false) {
				  alert('결제수단을 체크하셔야 합니다.');				  
			}else{
				var way = $("input:checkbox[name='payWay']:checked").val();
				$('.payH2').html(way+" 결제");
				$('#payPage').css('display','block');
			}
			
		});
		
		$('#cancleBtn').click(function(){
			$('#payPage').css('display','none');
		});
		

});
</script>


</head>
<body>

	<div class="main clearfix" id="main">
	<form th:action="@{/dogVillage/ticketOrderPro}" method="post" name="frm">
	<div id="payPage">
					<div id="payBox">
						<div id="cancle"><input type="button" value="X" id="cancleBtn"/></div>
						<span id="payOk"></span>
						<h2 class="payH2"></h2>
						<table id="payTable">
							<tr><td class="paytd">총 주문금액</td><td class="paytd"><span id="payTotal"></span></td></tr>
							<tr><td class="paytd">포인트사용</td><td class="paytd"><span id="payPoint"></span></td></tr>
							<tr><td class="paytd">포인트적립</td><td class="paytd"><span id="payPointIn"></span></td>
							<input type="hidden" name="pointIn" value="" id="pointIn"/>
							</tr>
							<tr><th class="th paytd payth">결제금액</th><th class="th paytd payth"><span id="payReal"></span></th>
							<input type="hidden" name="payPrice" value="" id="payPrice"/></tr>
						</table>
						<div id="submitBox">
							<input type="submit" name="submit" class="search" value="결 제 하 기">
						</div>
						
					</div>
				</div>

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div
				th:include="thymeleaf/frontPage/html/commonLayout/header_dogVillage.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			
			<span th:if="${session.authInfo !=null}">
				<input type="hidden" th:value="${session.authInfo.name}" name="memName" id="memName"/>
				<input type="hidden" th:value="${session.authInfo.ph}" name="memPh" id="memPh"/>
				<input type="hidden" th:value="${session.authInfo.id}" name="memId" id="memId"/>
			</span>
			<div class="container">

				<table class="roomTable">
					<tr>
						<td colspan="7">
							<h2>티켓 주문서</h2>
						</td>
					</tr>
					<tr>
						<th class="th borderleft">번호</th>
						<th class="th">티켓이름</th>
						<th class="th">티켓날짜</th>
						<th class="th">티켓시간</th>
						<th class="th">티켓가격</th>
						<th class="th">체급</th>
						<th class="th borderright">수량</th>
					</tr>
					<th:block th:each="dto , aaa : ${orderTicket}">
					<tr>
						<td class="roomTd borderleft">[[${aaa.count}]]</td>
						<td class="roomTd">[[${dto.ticketName}]]</td>
						<td class="roomTd" th:text="${#dates.format(dto.ticketSeason,'yyyy-MM-dd')}"></td>
						<td class="roomTd">[[${dto.ticketTime}]]</td>
						<td class="roomTd">[[${dto.ticketPrice}]]
							<input type="hidden" name="ticketPrice" th:value="${dto.ticketPrice}"/>
						</td>
						<td class="roomTd">[[${dto.ticketGrade}]]</td>
						<td class="roomTd borderright">
							<select name="torderQty" class="selectbox">
									<th:block th:each="num : ${#numbers.sequence(1,dto.ticketQty)}">		 			
										<option>[[${num}]]</option>
									</th:block>						 									
							</select>
							<input type="hidden" name="torderPrice" th:value="${dto.ticketPrice}"/>
							<input type="hidden" name="tPrice1" th:value="${dto.ticketPrice}"/>
						</td>						
					</tr>
					</th:block>

					<tr>
						<td colspan="7" class="priceTd borderleft borderright total" id="total"><span class="totalPrice111"></span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="수량확인" id="qtybtn" name="qtybtn"/></td>
					</tr>
					

				</table>
				
				<table class="roInfoTable">
					<tr>
						
						<td colsapn="2" class="roInfotd borderright">
							<h4>결제 정보</h4>
							<div class="optBox">
								<span class="font">결제수단 선택</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								카드결제 <input type="checkbox" name="payWay" value="신용카드"/>&nbsp;&nbsp;&nbsp;계좌이체 <input type="checkbox" name="payWay" value="계좌이체"/>&nbsp;&nbsp;&nbsp;포인트 <input type="checkbox" name="point" value="point" id="pointCheck"/>
								<div class="roInfo">
								총 결제금액&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="prePayPrice" class="infoinput" value="" id="prePayPrice" readonly/>원</br>
								가용 포인트&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="pointSum" th:value="${pointSum}" class="infoinput" id="nowPoint" readonly/>점
								<div id="usePoint">포인트 사용&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="pointOut" value="0" class="infoinput" id="pointOut"/>점</br>
								<button type="button" id="usePointBtn">사용</button>
								</div></div>
								
							</div>
						</td>
						
					</tr>
					
				</table>




				<div class="final_btn">

					<input type="button" class="search" value="예 매 하 기" id="rsvBtn">

				</div>
				
				



			</div>
			
			
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>
	</form>
	</div>
</body>
</html>
