<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forrest.mapper.sy.room.RoomMapper">

<sql id="basecolumn">
	ROOM_NUM, ROOM_NAME, ROOM_INFO, ROOM_PRICE, ROOM_IMG, CAPACITY, DOG_CAP, ROOM_REGIT
</sql>

<insert id="insertRoom" parameterType="forrest.domain.sy.room.RoomDTO">
	insert into room(<include refid="basecolumn"/>)
	values(#{roomNum}, #{roomName}, #{roomInfo}, #{roomPrice}, #{roomImg}, #{capacity}, #{dogCap}, sysdate)	
</insert>



<resultMap type="forrest.domain.sy.room.RoomDTO" id="resultmap">		
	<result column="room_num" jdbcType="BIGINT" property="roomNum"/>
	<result column="room_name" jdbcType="VARCHAR" property="roomName"/>
	<result column="room_info" jdbcType="VARCHAR" property="roomInfo"/>
	<result column="room_price" jdbcType="BIGINT" property="roomPrice"/>
	<result column="room_img" jdbcType="VARCHAR" property="roomImg"/>
	<result column="capacity" jdbcType="BIGINT" property="capacity"/>
	<result column="dog_cap" jdbcType="BIGINT" property="dogCap"/>
	<result column="room_regit" jdbcType="TIMESTAMP" property="roomRegit"/>
</resultMap>

<select id="selectRoom" resultMap="resultmap" parameterType="forrest.domain.sy.room.RoomDTO">
	select <include refid="basecolumn"/>
	from room
	<trim prefix="where" prefixOverrides="AND | OR">
		<if test="roomNum != null">		
			and room_num = #{roomNum}
		</if>
		<if test="capacity !=null">
			and capacity &gt;= #{capacity}
						
		</if>
		<if test="checkIn !=null">
			and room_num not in (select room_num from rorder where #{checkIn}
					between check_in and check_out
					and #{checkOut} between check_in and check_out)
		</if>
	</trim>
	
		
	
</select>





</mapper>