<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forrest.mapper.sy.room.SelectOptionMapper">

<sql id="basecolumn">
	SEL_NUM,RO_NUM,SEL_NAME,SEL_QTY,SEL_PRICE
</sql>

<insert id="insertSelOpt" parameterType="forrest.domain.sy.room.SelectOptionDTO">
	INSERT INTO sel_option(<include refid="basecolumn"/>)
    values(selopt_seq.nextval, (select ro_Num from rorder where ro_regist = (select MAX(ro_regist) from rorder where mem_id=#{memId})),#{selName},#{selQty}, #{selPrice})
</insert>

<resultMap type="forrest.domain.sy.room.SelectOptionDTO" id="resultmap">		
	<result column="SEL_NUM" jdbcType="BIGINT" property="selNum"/>
	<result column="RO_NUM" jdbcType="BIGINT" property="roNum"/>
	<result column="SEL_NAME" jdbcType="VARCHAR" property="selName"/>
	<result column="SEL_QTY" jdbcType="BIGINT" property="selQty"/>
	<result column="SEL_PRICE" jdbcType="BIGINT" property="selPrice"/>
</resultMap> 

<select id="selectOptions" resultMap="resultmap" parameterType="int">
	select * from sel_option
	where RO_NUM=#{roNum}
</select>



</mapper>

