<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forrest.mapper.sy.room.SelectOptionMapper">

<sql id="basecolumn">
	SEL_NUM,RO_NUM,SEL_NAME,SEL_QTY,SEL_PRICE
</sql>

<insert id="insertSelOpt" parameterType="forrest.domain.sy.room.SelectOptionDTO">
	INSERT INTO sel_option(<include refid="basecolumn"/>)
    values(selopt_seq.nextval, (select ro_Num from rorder where ro_regist = (select MAX(ro_regist) from rorder where mem_id=#{memId})),#{selName},#{selQty}, #{selPrice})
</insert>

<!--  
<resultMap type="forrest.domain.sy.PointDTO" id="resultmap">		
	<result column="MEM_ID" jdbcType="VARCHAR" property="memId"/>
	<result column="POINT_IN" jdbcType="VARCHAR" property="pointIn"/>
	<result column="POINT_OUT" jdbcType="VARCHAR" property="pointOut"/>
	<result column="POINT_REGIST" jdbcType="TIMESTAMP" property="pointRegist"/>
	<result column="POINT_SUM" jdbcType="VARCHAR" property="pointSum"/>
</resultMap>

<select id="" resultMap="resultmap" parameterType="forrest.domain.sy.rooom.SelectOptionDTO">	
</select>-->



</mapper>

