<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forrest.mapper.sy.PaymentMapper">

	<sql id="basecolumn">
		PAY_NUM,
		PAY_DATE,
		PAY_PRICE,
		PAY_WAY,
		REFUND
	</sql>

	<insert id="insertPay"
		parameterType="forrest.domain.sy.PaymentDTO">
		insert into payment(<include refid="basecolumn"/>)
		values((<include refid="maxNum"/>), sysdate, #{payPrice}, #{payWay},null)
	</insert>
	
	<sql id="maxNum">
    select nvl(max(pay_num),0) + 1
    from payment
    </sql>
    
    <resultMap type="forrest.domain.ligoh.MenuPayDTO" id="resultPay">
        <id column="PAY_NUM" jdbcType="BIGINT" property="payNum"/>
    
    </resultMap>
	
	<select id="getPayNum" resultMap="resultPay">
	 select * from payment
     where pay_num = (select MAX(pay_num) from payment)
	</select>
	<insert id="menuPayInsert">
	  insert into menu_pay(pay_num ,mord_num)
	  values(#{payNum},#{mordNum})
	</insert>
	


</mapper>