
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Stay Park</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/roomPaymentStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script th:src="@{/static/js/jquery.js}"></script>
	

</head>
<body>

	<div class="main clearfix" id="main">

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div
				th:include="thymeleaf/frontPage/html/commonLayout/header_stayPark.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			<form th:action="@{/staypark/roomOrderPro}" method="post" name="frm">
			<span th:if="${session.authInfo !=null}">
				<input type="hidden" th:value="${session.authInfo.name}" name="memName" id="memName"/>
				<input type="hidden" th:value="${session.authInfo.ph}" name="memPh" id="memPh"/>
				<input type="hidden" th:value="${session.authInfo.id}" name="memId" id="memId"/>
			</span>
			<div class="container">

				<table class="roomTable">
					<tr>
						<td colspan="5">
							<h2>[결제수단] 결제</h2>
						</td>
					</tr>
					<tr>
						<th class="th">총금액</th><th>00000원</th>
						<td class="th">포인트사용</td><td>000점</td>					
						<th class="th">결제금액</th><td>0000원</td>
					</tr>
					
				</table>	




				<div class="final_btn">

					<input type="submit" class="search" value="예 약 하 기">

				</div>



			</div>
			</form>
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>

	</div>
</body>
</html>
