
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Stay Park</title>

<link rel="stylesheet" th:href="@{/static/css/topMenuStyle.css}">

<link rel="stylesheet" th:href="@{/static/css/headerStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/roomOrderListStyle.css}">
<link rel="stylesheet" th:href="@{/static/css/footerStyle.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Quicksand:wght@600&display=swap"
	rel="stylesheet">

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script th:src="@{/static/js/jquery.js}"></script>

<script>
	$(document).ready(function(){
		// 객실가격*숙박일수
		var days = $('#days').val();

		var roomPrice = $('#roomPrice').val();
		var totalRoom = days*roomPrice;
		
		// 선택옵션 가격
		var optTotal=0;
		$("input[name=optTotal]").each(function(idx){
			
			  var optPrice = parseInt($(this).val());
			  if(isNaN(optPrice)){
				  optPrice=0;
			  }
			  optTotal=optTotal+optPrice;
	                	         
	    });
		
		if(isNaN(optTotal)){
			optTotal=0;
			
		}
		
		var totalPrice=totalRoom;
		
		
		if(parseInt(optTotal) != 0){
			totalPrice=totalPrice+optTotal			
		}
		
		$('#totalRoom').html("객실 " + totalRoom +" + 옵션 " + optTotal +"원");
		$('#total').html("총 주문금액 "+totalPrice+"원");
		$('#prePayPrice').val(totalPrice);
		$('#payTotal').html(totalPrice);
		$('#payPoint').html(0);
		$('#payPointIn').html(totalPrice*0.01);
		$('#pointIn').val(totalPrice*0.01);
		$('#payReal').html(totalPrice);
		$('#payPrice').val(totalPrice);
		
		$("#memCheck").change(function(){
	        if($("#memCheck").is(":checked")){
	            $('#roName').val($('#memName').val());
	            $('#roPh').val($('#memPh').val());
	        }else{
	        	$('#roName').val('');
	            $('#roPh').val('');
	        }
	    });
		
		$('input[type="checkbox"][name="payWay"]').click(function(){
			if($('input[type="checkbox"][name="payWay"]').is(':checked')){			
				$('input[type="checkbox"][name="payWay"]').prop('checked',false);			
			}
			$(this).prop('checked',true);
		});
		
		$('input[type="checkbox"][name="point"]').change(function(){
			if($(this).is(':checked')){
				$('#usePoint').css('display','block');
	        	var pointOut = parseInt($('#pointOut').val());
	        	var nowPoint = parseInt($("#nowPoint").val());
	        	if(isNaN(pointOut)){
	        		pointOut=0;	    			    			
	    		}
	        	$('input[type="button"][name="usePointBtn"]').click(function(){
	        		$('#prePayPrice').val(totalPrice);
	        		pointOut = parseInt($('#pointOut').val());
	        		if(pointOut > nowPoint){
    					pointOut = 0;
    					alert("사용 가능한 포인트는 "+nowPoint+"점 입니다.");
    					$('#pointOut').val(pointOut);    					
    				}else{
    					var prePayPrice = parseInt($('#prePayPrice').val()) - pointOut;
    					$('#prePayPrice').val(prePayPrice);
    					$('#payPoint').html(pointOut);
    					$('#payPointIn').html(prePayPrice*0.01);
    					$('#pointIn').val(prePayPrice*0.01);
    					$('#payReal').html(prePayPrice);
    					$('#payPrice').val(prePayPrice);
    				}
    			});
			}else{
				
				$('#prePayPrice').val(totalPrice);
				$('#payPointIn').html(totalPrice*0.01);
				$('#pointIn').val(totalPrice*0.01);
				$('#payReal').html(totalPrice);
				$('#payPrice').val(totalPrice);
				$('#pointOut').val(0);
				$('#payPoint').html(0);
				$('#usePoint').css('display','none');
			}
		});
		
		$('#rsvBtn').click(function(){
			if ($('input[type="checkbox"][name="payWay"]').is(':checked') == false) {
				  alert('결제수단을 체크하셔야 합니다.');
				  
			}else if($('#roName').val()== ''){
				alert('예약자 성함을 입력해주세요');
			}else if($('#roPh').val()== ''){
				alert('예약자 연락처를 입력해주세요');
			}else{
				$('#payPage').css('display','block');
				var payWay = $('input[type="checkbox"][name="payWay"]:checked').val();
				$('.payH2').html(payWay+" 결제");
				
				
				
			}
			
		});
		
		$('#cancleBtn').click(function(){
			$('#payPage').css('display','none');
		});
		
		
		
	});
</script>

</head>
<body>

	<div class="main clearfix" id="main">
	<form th:action="@{/staypark/roomOrderPro}" method="post" name="frm" id="formStyle">
	<div id="payPage">
					<div id="payBox">
						<div id="cancle"><input type="button" value="X" id="cancleBtn"/></div>
						<span id="payOk"></span>
						<h2 class="payH2"></h2>
						<table id="payTable">
							<tr><td class="paytd">총 주문금액</td><td class="paytd"><span id="payTotal"></span></td></tr>
							<tr><td class="paytd">포인트사용</td><td class="paytd"><span id="payPoint"></span></td></tr>
							<tr><td class="paytd">포인트적립</td><td class="paytd"><span id="payPointIn"></span></td>
							<input type="hidden" name="pointIn" value="" id="pointIn"/>
							</tr>
							<tr><th class="th paytd payth">결제금액</th><th class="th paytd payth"><span id="payReal"></span></th>
							<input type="hidden" name="payPrice" value="" id="payPrice"/></tr>
						</table>
						<div id="submitBox">
							<input type="submit" name="submit" class="search" value="결 제 하 기">
						</div>
						
					</div>
				</div>

		<!--topMenu인클루드 영역 -->
		<div th:include="thymeleaf/frontPage/html/commonLayout/topMenu.html"></div>

		<!-- header인클루드 영역 -->
		<header>
			<div
				th:include="thymeleaf/frontPage/html/commonLayout/header_stayPark.html"></div>
		</header>

		<!--메인콘텐츠 영역-->
		<section>
			
			<span th:if="${session.authInfo !=null}">
				<input type="hidden" th:value="${session.authInfo.name}" name="memName" id="memName"/>
				<input type="hidden" th:value="${session.authInfo.ph}" name="memPh" id="memPh"/>
				<input type="hidden" th:value="${session.authInfo.id}" name="memId" id="memId"/>
			</span>
			<div class="container">

				<table class="roomTable">
					<tr>
						<td colspan="5">
							<h2>객실 주문서</h2>

						</td>
					</tr>
					<tr>
						<th class="th borderleft">번호</th>
						<th class="th">객실이름</th>
						<th class="th">숙박요금(1day)</th>
						<th class="th">숙박일정</th>
						<th class="th">선택옵션</th>
						<th class="th borderright">수량</th>
					</tr>
					
					<tr>
						<td rowspan="2" class="roomTd number borderleft">1</td>
						<td class="roomTd"><span class="font">[[${room.roomName}]]</span>
						
						<input type="hidden" name="roomNum" th:value="${room.roomNum}"/>
						<input type="hidden" name="roomName" th:value="${room.roomName}"/></td>
						<td class="roomTd">[[${room.roomPrice}]]원
							<input type="hidden" name="roomPrice" th:value="${room.roomPrice}" id="roomPrice"/>
						</td>
						<td class="roomTd">[[${rsvInfo.checkIn}]] ~ [[${rsvInfo.checkOut}]]
							<input type="hidden" name="days" th:value="${days}" id="days"/>
							<input type="hidden" name="checkIn" th:value="${rsvInfo.checkIn}"/>
							<input type="hidden" name="checkOut" th:value="${rsvInfo.checkOut}"/>
						</td>
						<td class="roomTd">
						<th:block th:each="optName : ${optName}">
							<p class="opt">[[${optName}]]</p>
							<input type="hidden" name="selName" class="optTotal" th:value="${optName}"/>														
						</th:block></td>
						<td class="roomTd borderright">
						<th:block th:each="selQty : ${selQty}">
							<p class="opt">[[${selQty}]]</p>
							<input type="hidden" name="selQty" class="optTotal" th:value="${selQty}"/>														
						</th:block>
						
						<th:block th:each="optTotal : ${optTotal}">
							<input type="hidden" name="optTotal" class="optTotal" th:value="${optTotal}"/>																			
							<input type="hidden" name="selPrice" class="optTotal" th:value="${optTotal}"/>																			
						</th:block>
						</td>						
					</tr>
					<tr>
						<td colspan="5" class="priceTd borderright" id="totalRoom"></td>
					</tr>

					<tr>
						<td colspan="6" class="priceTd borderleft borderright total" id="total"></td>
					</tr>
					

				</table>
				
				<table class="roInfoTable">
					<tr>
						<td class="roInfotd borderleft">
							<h4>예약자 정보</h4>
							<div class="optBox">
								<span class="font">예약자 정보가 회원 정보와 같음</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="member" id="memCheck"/>
								<p class="roInfo">
								예약자이름&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="roName" class="infoinput" id="roName" required/></br>
								예약자연락처&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="roPh" class="infoinput" id="roPh" required/></p>								
							</div>
						</td>
						<td class="roInfotd borderright">
							<h4>결제 정보</h4>
							<div class="optBox">
								<span class="font">결제수단 선택</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								카드결제 <input type="checkbox" name="payWay" value="신용카드"/>&nbsp;&nbsp;&nbsp;계좌이체 <input type="checkbox" name="payWay" value="계좌이체"/>&nbsp;&nbsp;&nbsp;포인트 <input type="checkbox" name="point" value="point" id="pointCheck"/>
								<div class="roInfo">
								총 결제금액&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="prePayPrice" class="infoinput" value="" id="prePayPrice" readonly/>원</br>
								가용 포인트&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="pointSum" th:value="${point}" class="infoinput" id="nowPoint" readonly/>점
								<div id="usePoint">포인트 사용&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="pointOut" value="0" class="infoinput" id="pointOut" />점</br>
								<input type="button" id="usePointBtn" name="usePointBtn" value="사용">
								
								</div></div>
								
							</div>
						</td>
						
					</tr>
					
				</table>
				
				<table class="reqTable">
					<tr><th class="th borderleft borderright">기타 요청사항</th></tr>
					<tr><td class="req borderleft borderright"><textarea name="roReq" class="roReq"></textarea></td></tr>
				</table>




				<div class="final_btn">

					<input type="button" class="search" value="예 약 하 기" id="rsvBtn">

				</div>
				
				



			</div>
			
			
		</section>


		<!--footer인클루드 영역-->
		<footer>
			<div th:include="thymeleaf/frontPage/html/commonLayout/footer.html"></div>
		</footer>
		

	</form>
	</div>
</body>
</html>
