
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#main{
  width: 100%;
  height: 100vh;
  overflow: hidden;}

.menu{
  width: 25%;
  height: 94vh;
  float: left;
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

#toStayPark{
  background-image: url("../images/stp_main_1.jpg");
  background-repeat : no-repeat;
  background-size : cover;
}
#toDogVillage{
  background-image: url("../images/dvl_main_3.jpg");
  background-repeat : no-repeat;
  background-size : cover;
}
#toEatSomePlace{
  background-image: url("../images/esp_main.jpg");
  background-repeat : no-repeat;
  background-size : cover;
}
#toDogMall{
  background-image: url("../images/dgm_main.jpg");
  background-repeat : no-repeat;
  background-size : cover;
}

.title-box{
  background-color: rgba(0,0,0,0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  text-align: center;
  color: #fff;

}

h3{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}

.aaa{
  color: #fff;
  font-weight: normal;
}
