<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forrest.mapper.han.BudgetMapper">
	<sql id="basecolum">
	DEPT_NUM,BUD_NUM,BUD_YEAR,BUD_SALARY,BUD_FACILITY,BUD_BASIC,BUD_SUP,BUD_ETC
	</sql>
	<insert id="getbudInsert" parameterType="forrest.domain.han.BudgetDTO">
	insert into BUDGET (DEPT_NUM,BUD_NUM,BUD_YEAR,BUD_SALARY,BUD_FACILITY,BUD_BASIC,BUD_SUP,BUD_ETC)
	values(#{deptNum},#{budNum},#{budYear},#{budSalary},#{budFacility},#{budBasic},#{budSup},#{budEtc})
	
	</insert>
	<resultMap type="forrest.domain.han.BudgetDTO" id="columnBasc">
	<result column="DEPT_NUM" jdbcType="BIGINT" property="deptNum"/>
	<result column="BUD_NUM" jdbcType="BIGINT" property="budNum"/>
	<result column="BUD_YEAR" jdbcType="TIMESTAMP" property="budYear"/>
	<result column="BUD_SALARY" jdbcType="BIGINT" property="budSalary"/>
	<result column="BUD_FACILITY" jdbcType="BIGINT" property="budFacility"/>
	<result column="BUD_BASIC" jdbcType="BIGINT" property="budBasic"/>
	<result column="BUD_SUP" jdbcType="BIGINT" property="budSup"/>
	<result column="BUD_ETC" jdbcType="BIGINT" property="budEtc"/>
	</resultMap>
	
	<resultMap type="forrest.domain.han.GoogleDTO" id="googlechart">
	<result column="DEPT_NUM" jdbcType="BIGINT" property="deptNum"/>
	<result column="gyear" jdbcType="VARCHAR" property="budYear"/>
	<result column="GSALARY" jdbcType="VARCHAR" property="budSalary"/>
	<result column="GFACILITY" jdbcType="VARCHAR" property="budFacility"/>
	<result column="GBASIC" jdbcType="VARCHAR" property="budBasic"/>
	<result column="GSUP" jdbcType="VARCHAR" property="budSup"/>
	<result column="GETC" jdbcType="VARCHAR" property="budEtc"/>
	</resultMap>
	
	<select id="googleview" resultMap="googlechart">
	select to_char(BUD_YEAR, 'yyyy') gyear, sum(BUD_SALARY) GSALARY, sum(BUD_FACILITY)GFACILITY,sum(BUD_BASIC)GBASIC,sum(BUD_SUP)GSUP, sum(BUD_ETC)GETC from BUDGET
	where DEPT_NUM = #{deptNum}
	group by to_char(BUD_YEAR, 'yyyy')
	order by to_char(BUD_YEAR, 'yyyy')
	
	</select>
	
	<select id="budchartListview" resultMap="columnBasc">
	select DEPT_NUM,BUD_NUM,BUD_YEAR,BUD_SALARY,BUD_FACILITY,BUD_BASIC,BUD_SUP,BUD_ETC
	from BUDGET 
	where DEPT_NUM = #{deptNum}
	</select>
	<select id="budlistview" resultMap="columnBasc">
	select DEPT_NUM,BUD_NUM,BUD_YEAR,BUD_SALARY,BUD_FACILITY,BUD_BASIC,BUD_SUP,BUD_ETC
	from BUDGET 
	</select>
	<select id="buddetailview" resultMap="columnBasc">
	select DEPT_NUM,BUD_NUM,BUD_YEAR,BUD_SALARY,BUD_FACILITY,BUD_BASIC,BUD_SUP,BUD_ETC
	from BUDGET
	where BUD_NUM = #{budNum}
	
	
	</select>
	

</mapper>